<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="1000">
        <!--Lights-->
        <setting type="lsep" label="Main" />
        <setting id="light_num" type="enum" enable="true" label="Number of bulbs" default="1" values="0|1|2" />
        <setting id="light1_id" type="text" label="Lamp 1 IP" default="" enable="gt(-1,0)" visible="gt(-1,0)" />
        <setting id="light2_id" type="text" label="Lamp 2 IP" default="" enable="gt(-2,1)" visible="gt(-2,1)" />
    </category>

</settings>
