<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="1000">
        <!--Lights-->
        <setting type="lsep" label="Main" />
        <!-- <setting id="discover_bridge" type="action" label="1101" action="RunScript(script.kodi.hue.ambilight,action=discover)" /> -->
        <!-- <setting id="light" type="enum" enable="true" label="1301" default="1" lvalues="1303|1304|1305|1306" /> -->
        <!-- <setting id="light1_id" type="text" label="1306" default="1" enable="gt(-1,-1)" visible="gt(-1,-1)" /> -->
        <!-- <setting id="light2_id" type="text" label="1307" default="2" enable="gt(-2,0)" visible="gt(-2,0)" /> -->
        <!-- <setting id="light3_id" type="text" label="1308" default="3" enable="gt(-3,1)" visible="gt(-3,1)" /> -->
        <!-- <setting id="light4_id" type="text" label="1309" default="4" enable="gt(-4,2)" visible="gt(-4,2)" /> -->
        <setting id="light1_id" type="text" label="Lamp IP" default="" enable="gt(-1,-1)" visible="gt(-1,-1)" />
    </category>

</settings>
